body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

li,
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*header*/

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.header-hero {
  border-bottom: 1px solid #e7e9fc;
}

.header-nav-container {
  display: flex;

  align-items: center;
}

.list-header-nav-containers {
  display: flex;
  gap: 40px;
}

.contacts-header-container {
  display: flex;
  gap: 40px;
}

.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #2e2f42;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-list-items {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-list-items:hover {
  color: #404bbf;
}

.header-list-items:focus {
  color: #404bbf;
}

.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
}

.contacts-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
  gap: 40px;
}

.contacts-list:hover,
.contacts-list:focus {
  color: rgba(64, 75, 191, 1);
}
/*Main section*/

/* Section 1 */

.first-section {
  background-color: #2e2f42;
  flex-shrink: 0;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: url(images/people-office.png);
  background-size: cover;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.btn-order {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button:hover {
  background-color: rgba(64, 75, 191, 1);
}

.button:focus {
  background-color: #404bbf;
}

/* Section 2 */
/*Our advantages*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icons-second-sct {
  fill: var(--IRIS, #4d5ae5);
  width: 264px;
  height: 112px;
  border: solid rgba(142, 143, 153, 1) 1px;
  border-radius: 4px;
}

.icons-sct {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 100px;
  margin-left: 100px;
}

.section-second {
  display: flex;
}

.list-section-second {
  display: flex;
  height: 104px;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding-left: 0;
  padding-top: 120px;
  padding-bottom: 120px;
}

.list-items-section-two {
  width: calc((100% - 72px) / 4);
}

.text-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 8px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section 3 */
/*Our team*/

.image-team-container {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-left: 0;
}

.our-team {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-team {
  background-color: #f4f4fd;
}

.team {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.name-list {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.div-sites-icons-list {
  display: flex;
  gap: 24px;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 8px;
}

.div-sites-icons {
  width: 40px;
  height: 40px;
  background-color: rgba(77, 90, 229, 1);
  border: none;
  border-radius: 50px;
  padding: 12px;
}

/* Section 4 */
/* Our potfolio */

.image-portfolio-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
}

.title-portfolio {
  text-align: left;
}

.text-portfolio {
  text-align: left;
  margin-bottom: 8px;
}

.our-portfolio {
  margin-bottom: 72px;
}

.list-items-portfolio {
  width: calc((100% - 48px) / 3);
}

.app-name-list {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

/*Footer*/

.footer-container {
  display: block;
  width: 264;
  align-items: center;
  justify-content: flex-start;
}

.footer {
  background-color: #2e2f42;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  display: inline-block;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.logo-studio {
  color: #f4f4fd;
  line-height: 1.17;
}

.items-title {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.all-footer {
  display: flex;
  margin-left: 156px;
  margin-right: 692px;
}

.div-footer-social-links {
  display: block;
  width: 208px;
  height: auto;
}

.container-footer-social-links {
  margin-left: 120px;
}

.div-sites-icons-list-footer {
  display: flex;
  gap: 16px;
}

.div-sites-icons-footer {
  border: none;
  width: 40px;
  height: 40px;
  background-color: rgba(77, 90, 229, 1);
  border-radius: 50px;
}

.site-items-footer {
  margin: 8px;
}
